body{
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

header{
  display: flex;
  background-color: black;
}

header .container{
  display: flex;
  width: 100%;
}

header img{
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

header .logo{
  display: flex;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
  align-items: center;
}

.logo h2{
  font-size: 1rem;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.banner{
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .container{
  display: flex;
  justify-content: flex-start;
}

.new-arrival{
  font-weight: bold;
  background-color: black;
  padding: 2rem 3rem;
  margin-top: 9rem;
  width: 20rem;
}

.new-arrival h1{
  font-size: 2rem;
  margin-top: 0.25rem;
}

nav{
  background-color: firebrick;
}

nav ul{
  display: flex;
  padding: 0.75em 0;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.product-grid{
  background-color: white;
}
footer{
  background-color: black;
  height: 5rem;
  text-align: left;
}
